:root {
  font-size: 10px;
  --clr-primary: rgba(63, 21, 79, 1);
	--clr-secondary: rgba(228, 0, 43, 1);
  --clr-light: rgba(248, 248, 248,1);
  --clr-dark: rgba(80, 80, 80,1);
	--clr-dark-80: rgba(80, 80, 80,0.8);
}

body {
  font-family: 'nunito', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}
/* nav begin */
nav {
  padding: 30px;
  font-weight: 600;
  font-family: 'nunito', sans-serif;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  float: left;
}
nav ul li:not(:first-child) {
  margin-left: 25px;
}
nav ul li a {
  display: inline-block;
  outline: none;
  color: var(--clr-primary);
  font-size: 1.6rem;
  text-decoration: none;
  letter-spacing: 0.04em;
}
nav ul li a:hover {
  color: var(--clr-secondary);
  text-decoration: none;
}
/* end nav */

/* typography start */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Work Sans"), local("WorkSans-Regular"), url("../fonts/work-sans-v3-latin-regular.woff2") format("woff2"), url("../fonts/work-sans-v3-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'Nunito';
    src: local("Nunito"), local("Nunito-Regular"), url('../fonts/Nunito-Regular.woff2') format('woff2'),
        url('../fonts/Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-SemiBold.woff2') format('woff2'),
        url('../fonts/Nunito-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-ExtraBold.woff2') format('woff2'),
        url('../fonts/Nunito-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
body, html {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: var(--clr-dark);
  background-color: var(--clr-light);
}
h1 {
  font-family: 'Nunito', serif;
  font-weight: 600;
  font-size: 8rem;
}
h2 {
  font-family: 'Nunito', serif;
  font-weight: 600;
  font-size: 4rem;
}
h3 {
  font-family: 'Nunito', serif;
  font-weight: 600;
  font-size: 3rem;
}
h1,h2,h3{
  color: var(--clr-primary);
}
/* typography end */

/* start utilities */
.textprimary {
  color: var(--clr-primary);
}
.textsecondary {
  color: var(--clr-secondary);
}
.textlight {
  color: var(--clr-light);
}
.textdark {
  color: var(--clr-dark);
}
.smallcaps {
  font-variant: small-caps;
}
.textcenter {
  text-align: center;
}
.bglight {
  background-color: var(--clr-light);
}
.bgdark {
  background-color: var(--clr-dark);
}
.bgprimary {
  background-color: var(--clr-primary);
}
.bgsecondary {
  background-color: var(--clr-secondary);
}
.fullwidth {
  width: 100vw;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* end utilities */

/* start typography */
.textprimary {
  color: var(--clr-primary);
}

.textsecondary {
  color: var(--clr-secondary);
}

.textlight {
  color: var(--clr-light);
}

.textdark {
  color: var(--clr-dark);
}

.smallcaps {
  font-variant: small-caps;
}

.textcenter {
  text-align: center;
}

.bglight {
  background-color: var(--clr-light);
}

.bgdark {
  background-color: var(--clr-dark);
}

.bgprimary {
  background-color: var(--clr-primary);
}

.bgsecondary {
  background-color: var(--clr-secondary);
}

.fullwidth {
  width: 100vw;
}

.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}








@media screen and (max-width: 560px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--clr-primary);
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0px;
  }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.1s;
  }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.175s;
  }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.25s;
  }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #1f2227;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}
#nav:checked + .nav-open {
  transform: rotate(45deg);
}
#nav:checked + .nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}
#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  display: none;
}
/* nav end */
/* underline begin */
a{
  text-decoration: none;
  color: var(--clr-secondary);
  font-weight: 600;
	background-image: linear-gradient(var(--clr-secondary), var(--clr-secondary));
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size .2s;
}

a:hover{
	background-size: 100% 2px;
	color: var(--clr-secondary);
	/* end underline animation */
}