$variables: (
  clr-plum: rgba(63, 21, 79, 1),
  clr-plum-80: rgba(63, 21, 79, 0.8),
	clr-cherry: rgba(228, 0, 43, 1),
  clr-light: rgba(248, 248, 248,1),
  clr-dark: rgba(80, 80, 80,1),
	clr-dark-80: rgba(80, 80, 80,0.8),
  nav-height: 7rem,
  footer-height: 7rem,
  arrow-height: 7rem,
  hero-height: calc(100vh - var(--nav-height) - var(--footer-height)),
);

:root{
  @each $property, $value in $variables{
    --#{$property}: #{$value};
  }
  font-size: 10px;
}