@import '_normalize';
@import '_variables';
@import '_nav';
@import '_utilities';
@import '_typography';
@import '_basicLightbox';


/* underline begin */
a{
  text-decoration: none;
  color: var(--clr-cherry);
  font-weight: 400;
	background-image: linear-gradient(var(--clr-cherry), var(--clr-cherry));
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 0.2rem;
	transition: background-size .2s;
}

a:hover{
	background-size: 100% 0.2rem;
	color: var(--clr-plum);
  text-shadow:
   -1px -1px 0 var(--clr-light),  
    1px -1px 0 var(--clr-light),
    -1px 1px 0 var(--clr-light),
     1px 1px 0 var(--clr-light);
}
/* end underline animation */
img{
  max-width: 100%;
}
#vue-container{
  min-height: 100vh;
  max-width: 80rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: var(--nav-height) var(--hero-height) var(--arrow-height) auto var(--footer-height);
}

.hero-intro{
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--hero-height);
  
  
}
.arrow{
  transform: rotate(90deg);
  font-size: 3rem;
  text-align: center;
}
.intro-text{
  margin-top: -5rem;

}
.content{

}

#footer{
  font-size: 1.4rem;
  width: 100%;
  height: var(--footer-height);
  background-color: bisque;
  // bottom: 0px;
}

.gradient{
  background: linear-gradient(45deg, rgb(89, 6, 184),rgb(246, 151, 67));
}

@media screen and (max-width: 560px) {
  .hero-intro{
    height: calc(100vh - var(--nav-height));
  }
}